.back-white {
    background: #f6f6f6;
}

.back-black{
    background: #333;
    color: white;
}

.carosel-bg{
    background: url(img/irish-whiskey.jpg) center left;
    background-size: cover;
    color: white;
    height: 60vh;
    align-items: center;
    border-top: 10px solid #eaeaea;
    border-bottom: 10px solid #eaeaea;
}

.slider-text {
    text-align: center;
}

.pull-quote{
    margin: 5em;
}

.bottom-3-column {
    margin: 5em 0;
}

.fa,
.fas {
    margin-bottom: .5em;
}

.footy-links {
    margin: 3em 0;
    font-size: 12px;
    line-height: .5em;
}

.footy-links p{
    margin-bottom: 1em;
}

.m-r-10 {
    margin-right: 10em;
}

.al-c{
    align-items: center;
}

.heady{
    margin: 2em 0;
    font-size: 13px;
}